[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw
[submodule "dep/lodepng"]
	path = dep/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "dep/libevent"]
	path = dep/libevent
	url = https://github.com/libevent/libevent
